{% extends 'base.html' %}

{% block title %}
Информаци я о кофе
{% endblock %}

{% block body %}
<h1>Кофе — один из самых популярных и древних напитков на земном шаре. Миллионы людей начинают свой день с чашечки кофе. С молоком, с сахаром, с холодной водой, с лимоном и даже с солью… Его необыкновенный вкус и аромат порождает настоящую кофеманию. Кофе — это больше, чем напиток. Кофе — это искусство наслаждения.</h1>
<img class="mb-2" src="https://image.freepik.com/free-photo/a-gray-fluffy-pet-cat-on-a-blanket-next-to-a-cup-of-coffee-and-a-book_79087-1031.jpg" alt="" width="100%" height="50%">
{% endblock %}