{% extends 'base.html' %}

{% block title %}
Главный кофе
{% endblock %}

{% block body %}
  <div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 774px;">
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
      <div class="card">
        <img class="mb-2" src="https://lh3.googleusercontent.com/proxy/a--FuBSFm3DXo-Mr6Wd9mP8u3Mexemy__Cmleh7Cz4BLYLvHfmtcdInQuYTbpbRyh8CqmDtSRJFCxHC_FRAlPqfNsvzrzpR_IyjD-KwE52qcgIE" alt="" width="100%" height="10%">


        <div class="card-body">
          <h5 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Виды и сорта кофе</font></font></h5>
          <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">На Земле произрастает несколько основных видов кофе (кофейного дерева): - первый из них – арабика. Арабика лидирует по многим показателям. Например, по количеству сортов, по доле продаж в мировой торговле, по производству кофейных зерен в мире, - второй – робуста. Он был обнаружен...</font><font style="vertical-align: inherit;">Этот контент немного длиннее.</font></font></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 33.3317%; top: 0px;">
      <div class="card p-3">
        <figure class="p-3 mb-0">
          <blockquote class="blockquote">
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Пить кофе ночью — это как первый снег или как раннее утро после бури: всегда кажется, что что-то похожее уже было в твоей жизни…</font></font></p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            Кто-то известный: </font></font><cite title="Название источника"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Банана Ёсимото</font></font></cite>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 66.6633%; top: 0px;">
      <div class="card">
        <img class="mb-2" src="https://static.tildacdn.com/tild3464-6466-4663-b130-383035666236/77.jpg" alt="" width="100%" height="10%">

        <div class="card-body">
          <h5 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Обжарка кофе</font></font></h5>
          <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">После того, как получены кофейные зерна соответствующего качества, начинается самая важная стадия в производстве кофе – обжарка кофе и приготовление кофейной смеси. Хороший обжарщик натурального кофе должен быть отчасти художником и отчасти учёным, чтобы добиться...</font></font></p>
          <p class="card-text"><small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Последнее обновление: 3 мин. Назад</font></font></small></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 33.3317%; top: 201px;">
      <div class="card bg-primary text-white text-center p-3">
        <figure class="mb-0">
          <blockquote class="blockquote">
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Если бы я так не любил кофе, у меня бы вообще не было никаких выдающихся черт личности.</font></font></p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            </font></font><cite title="Название источника"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Дэвид Леттерман</font></font></cite>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 33.3317%; top: 370px;">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Кофе - история</font></font></h5>
          <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Из этого раздела нашей энциклопедии Вы узнаете о том, что право открытия кофе, величайшего напитка всех времен и народов, принадлежит… козам. Именно об этом повествует старинная эфиопская легенда, которую мы вспомнили, стремясь...</font></font></p>
          <p class="card-text"><small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Последнее обновление: 3 мин. Назад</font></font></small></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 66.6633%; top: 402px;">
      <div class="card">
        <img class="mb-2" src="https://lh3.googleusercontent.com/proxy/fKsisHUYyXfyWlOtP5yLCXj3I7oxmXEAWCqm58uksS1m4grCjnNC51kId6kgszQbKrAdqcJAtVRQgR49amtsdjMDQEFK_0qtgUFsCu29lb9glRb1Ugn3GoYFUX8kGpZilSDWNLQV" alt="" width="100%" height="10%">

      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 410px;">
      <div class="card p-3 text-end">
        <figure class="mb-0">
          <blockquote class="blockquote">
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Если утро начинается с ароматного кофе, то это хороший признак для окружающих меня людей.</font></font></p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            </font></font><cite title="Название источника"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ника Гардо</font></font></cite>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 33.3317%; top: 548px;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Польза кофе</font></font></h5>
          <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Стимулирующий эффект кофе. Благодаря содержанию кофеина напиток обладает бодрящим эффектом, который хорошо знаком любителям утреннего кофе. Почему это происходит? Кофеин улучшает кровоснабжение мозга и даже активизирует кратковременную память, что помогает принимать оперативные решения, повышает работоспособность и способно снять..</font><font style="vertical-align: inherit;"></font></font></p>
          <p class="card-text"><small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Последнее обновление: 3 мин. Назад</font></font></small></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}